
/*.event_menu{ margin-bottom:60px;}*/
.event_menu ul{ margin:5px 0px; padding-left:80px;}
/*.event_menu ul li{ margin:5px 0px;  }*/

.event_menu .title.sub {
    min-width: 28%;
    margin-left: 54px;
    background-color: rgb(211, 131, 182);
    text-align: center;
    text-transform: uppercase;
}

.enroll-new-company {
	text-align:right;
	padding:10px;
}

.company-view .form-group {
	padding:20px;
}

.card .card-title{
    font-size: 18px;
    font-weight: 400;
}