
    h6{
        text-align: center;
        font-weight: bold;
        letter-spacing: 3px;
    }
    
    .dataTables_wrapper{
        margin-bottom: 250px !important;
    }
    
    .dataTables_wrapper select {
        padding: 0;
        width: auto;
        line-height: 2px;
        height: 20px;
        font-size: 12px;
    }
    ::placeholder{
        color: #00bcd4;
        font-weight: bold;
        font-size: 13px;
    }
    .dataTables_wrapper table tbody tr td label.pending{
        color: #00bcd4 !important;
        font-weight: bold;
    }
    .dataTables_wrapper input.datepicker, .dataTables_wrapper input.time{
        padding: 2px !important;
        height: 20px !important;
        width: 85px !important;
        font-size: 12px !important;
        text-align: center !important;
        cursor: pointer !important;
        color: #1a75bb !important;
        margin-bottom: 0 !important;
        font-weight: bold !important;
    }
    
    .dataTables_wrapper input.time{
        width: 70px !important;
    }
    
    .dataTables_wrapper label {
        font-size: 12px !important;
    }
.dropdown dd,
.dropdown dt {
  margin: 0px;
  padding: 0px;
}

.dropdown ul {
  margin: -1px 0 0 0;
}

.dropdown dd {
  position: relative;
}

.dropdown a,
.dropdown a:visited {
  text-decoration: none;
  outline: none;
  font-size: 12px;
}

.dropdown dt a {
  width: auto;
}

.dropdown dt a span {
  cursor: pointer;
}

.dropdown dd ul {
  /* background-color: #4F6877; */
  background: white;
  border: 0;
  color: #fff;
  display: none;
  /* left: 0px; */
  position: absolute;
  top: 8px;
  width: 200px;
  list-style: none;
  /* height: 100px; */
  overflow: auto;
}

.dropdown span.value {
  display: none;
}

.dropdown dd ul li a {
  padding: 5px;
  display: block;
}

.dropdown dd ul li a:hover {
  background-color: #fff;
}

.dropdown dd ul li [type="checkbox"]:checked + label::before {
    width: 4px;
    height: 14px;
    top: 0;
    left: 0;
}

.dataTables_wrapper label {
    color: black !important;
}

.dataTables_wrapper label,
.dataTables_wrapper label::before {
    transition: 250ms ease;
    opacity: .7 !important;
}

.dataTables_wrapper label::before {
    border-color: grey;
}

.dataTables_wrapper label:hover::before {
    opacity: 1 !important;
}

.dataTables_wrapper label:hover {
    opacity: 1 !important;
}

.striped {
    width: 100% !important;
}

.DTFC_ScrollWrapper {
    margin-top: 20px;
    display: block;
    width: 100%;
    float: left;
}

.mutliSelect {
    text-align: left;
}

.mutliSelect ul {
    padding: 10px;
    display: block;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0 8px 32px rgba(0,0,0,.2);
}

.dropdown dd ul {
    border: 1px solid white;
}

.dropdown dd ul:hover {
    border-color: #00bcd4 !important;
}

.multiSel {
    margin: 0px;
    text-align: center;
    word-wrap: break-word;
    margin: 0 auto;
    display: table;
    clear: both;
}


.dropdown dt a {
    width: 100%;
    margin: 0 auto;
}

.selected-addons {
    width: auto !important;
    padding: 5px;
    background: white;
    border-radius: 3px;
    box-shadow: 0 1px 2px rgba(0,0,0,.1);
    margin-right: 10px;
    margin-bottom: 10px;
    float: left;
}

.selected-addons .close-addon {
    position: relative;
    transition: 250ms ease;
    display: inline-block;
    font-size: 12px;
    vertical-align: middle;
    margin-left: 5px;
}

.selected-addons label {
    color: #59a5d8 !important;
}


.hida {
    padding: 5px 15px;
}


.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody {
    height: 100% !important;
    max-height: 100% !important;
    /*overflow: unset !important;*/

}

.dropdown dd ul li textarea {
    border-style: none;
    border: 1px solid #ccc;
    transition: 250ms ease;
    height: auto !important;
    box-sizing: border-box;
    padding: 5px;
    color: black;
}

.dropdown dd ul li textarea:hover {
    border-color: #00bcd4 !important;
}

.dropdown dd ul li textarea:focus {
    border-color: #00bcd4 !important;
}

.dropdown dd ul li:nth-child(1) {
    padding: 0px;
    display: block;
    text-align: right;
}

.multiselect-close_btn {
    padding: 0px;
    background: none;
    border-style: none;
    font-size: 12px;
    color: black;
    opacity: .5;
    transition: 250ms ease;
    line-height: 0px;
}

.multiselect-close_btn .material-icons {
    font-size: 14px;
}

.multiselect-close_btn:active,
.multiselect-close_btn:focus {
    background: none;
}

.multiselect-close_btn:hover {
}

table.centered tbody tr td:nth-child(3) input.datepicker,
table.centered tbody tr td:nth-child(3) input.ui-timepicker-input,
table.centered tbody tr td:nth-child(3) select.form-control
{
    border-color: #9e9e9e !important;
    padding: 2px !important;
    font-size: 12px !important;
    display: inline-block;
    vertical-align: bottom;
}

.hida.btn-default {
    background: white;
    color: rgba(0,0,0,.5);
}


.hida.btn-default:hover {
    color: rgba(0,0,0,1);
}

.hida.addons-selected {
    background: #00bcd4;
    color: white;
}

.hida.addons-selected:hover {
    background: #00d3ee;
    color: white;
}

table.centered tbody tr td select.status-dropdown {
    font-size: 12px !important;
}