a, .info_breadcrumbs {
	color: #59a5d8;
}

/*Strip the ul of padding and list styling*/

ul.myTabs {
	list-style-type: none;
	margin: 15px 0 0;
	padding: 0;
	display: inline-table;
	width: 100%;
}

/*Create a horizontal list with spacing*/

ul.myTabs li {
	display: inline-block;
	float: left;
	width: 33.3%;
	border-right: 2px solid #ccc;
}

ul.myTabs li:last-child {
	border-right: 0;
}

/*Style for menu links*/

ul.myTabs li a {
	display: block;
	min-width: 140px;
	height: 50px;
	text-align: center;
	line-height: 50px;
	color: #000;
	text-decoration: none;
	font-size: 14px;
	font-weight: bold;
}

ul.myTabs li:hover a {
	color: #00bcd4;
	cursor: pointer;
	font-weight: bold;
}

ul.myTabs li.active {
	cursor: auto;
	font-weight: bold;
}

ul.myTabs li.active a {
	color: #00bcd4;
}

/*Prevent text wrapping*/

ul.myTabs li ul li a {
	width: auto;
	min-width: 100px;
	padding: 0 20px;
}

/*Responsive Styles*/

@media screen and (max-width: 760px) {
	/*Make dropdown links appear inline*/
	ul.myTabs {
		position: static;
		/*display: none;*/
	}
	/*Create vertical spacing*/
	ul.myTabs li {
		margin-bottom: 1px;
	}
	/*Make all menu links full width*/
	ul.myTabs li,
	ul.myTabs li a {
		width: 100%;
	}
}

.ti.ti-info-alt:hover {
	cursor: pointer;
}

.small-tabs-container {
	width: 100%;
}

.small-tabs {
	display: inline-block;
	background-color: #313340;
	padding: 5px;
	width: 250px;
	text-align: center;
	font-weight: bold;
	font-size: 13px;
}

.small-tabs a {
	color: #fff;
	display: block;
}

.small-tabs.active {
	background-color: #1a75bb;
	cursor: auto;
}

.small-tabs:hover {
	background: #1a75bb;
	cursor: pointer;
}

.content-wrapper {
	margin: 20px auto 100px;
}

.content-wrapper div#upstream_tables table, table.cyan-table {
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
	table-layout: auto;
	margin-bottom: 20px
}

.content-wrapper div#upstream_tables table.fixed {
	table-layout: fixed;
}

.content-wrapper div#upstream_tables table td, table.cyan-table td,
th, table.cyan-table th {
	padding: 8px 0;
	text-align: center;
	color: #666;
	border: 1px solid #dfe0e4;
}

.content-wrapper div#upstream_tables table thead th,
.content-wrapper div#upstream_tables table thead td,
table.cyan-table thead th, table.cyan-table thead td {
	background-color: #80cde9;
	font-size: 11px;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 12px;
	color: #000;
}

.content-wrapper table#table1 tbody tr td:first-child {
	font-weight: bold;
	background-color: #f4f5f8;
}

.wideTd {
	font-size: 12px;
	padding: 7px;
	line-height: 18px;
	text-align: left
}

.empty {
	background-color: #f4f5f8;
}

.rank {
	font-style: italic;
	color: #CCC;
}

.chart_title {
	font-weight: bold;
	text-align: center;
}

.dashboard-tabs a {
	background-color: rgb(27, 117, 187);
	width: 100%;
	display: block;
	text-align: center;
	font-size: 12px;
	font-weight: 600;
	padding: 2px;
	color: #FFF;
}

.dashboard-tabs .active,
.dashboard-tabs a:hover {
	color: #000;
	background-color: rgb(238, 197, 226);
}

.dashboard-tabs .tab.col.s6 {
	margin-bottom: 3px;
}

#health_scattered_chart,
#health_pie_chart {
	display: inline;
}

#health_scattered_chart {
	float: right;
}

#filterDiv div.select-wrapper.initialized ul,
#filterDiv div.select-wrapper.initialized span,
#filterDiv div.select-wrapper.initialized input {
	display: none !important;
}

#filterDiv select {
	height: 24px;
	width: 200px;
	padding: 3px;
	margin-bottom: 2px;
	font-size: 13px;
}

#filterDiv {
	padding: 0;
}

#filterDiv .filter_header {
	background: rgb(27, 117, 187) none repeat scroll 0% 0%;
	color: rgb(255, 255, 255);
	padding: 3px 15px;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: bold;
}

#filterDiv label {
	display: inline-block;
	width: 120px;
	font-size: 12px;
	font-weight: bold;
	color: #000;
}

#filterDiv select {
	width: 200px;
	padding: 3px;
	margin-bottom: 2px;
	border: 1px solid #aaa;
}

#filterDiv div div.select-wrapper.initialized {
	display: inline;
}

h4.dashboard-title {
	font-weight: 600;
	background: url('../images/user.svg') no-repeat left;
	padding-left: 60px;
	height: 50%;
	line-height: 1.5;
}

.small-note {
	font-size: 13px;
	font-weight: bold;
	color: #000;
	font-style: italic;
}

.msq-scattered,
.msq-scores {
	color: rgb(0, 0, 0);
	cursor: pointer;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: bold;
	background-color: rgb(238, 197, 226);
	display: inline-block;
	padding: 5px;
}

ul#slide-out ul li a {
	margin: 0;
	padding: 0;
	text-align: center;
	vertical-align: middle;
	height: 52px;
}

ul#slide-out ul li a img {
	width: 100%;
	vertical-align: middle;
	text-align: center;
}

.ps-scrollbar-x-rail,
.ps-scrollbar-y-rail {
	display: none;
}

.title {
	background-color: #00bcd4;
	color: #fff;
	font-weight: 600;
	padding: 3px 0 3px 10px;
	min-width: 33%;
	display: inline-block;
	margin: 10px 0;
}

ul#slide-out li ul li>a {
	background-size: 95% !important;
	text-align: right;
}

/** HR **/

ul#slide-out li ul li>a#dashboard {
	background: url("../../assets/images/dash.svg") no-repeat center;
}

ul#slide-out li ul li.active>a#dashboard {
	background: url("../../assets/images/activeDash.svg") no-repeat center;
}

ul#slide-out li ul li>a#healthprofile {
	 background: url("../../assets/images/healthProfile.svg") no-repeat center; 
}

ul#slide-out li ul li.active>a#healthprofile {
	 background: url("../../assets/images/activeHealthProfile.svg") no-repeat center; 
}

ul#slide-out li ul li>a#community {
	background: url("../../assets/images/community.svg") no-repeat center;
}

ul#slide-out li ul li.active>a#community {
	background: url("../../assets/images/activeCommunity.svg") no-repeat center;
}

ul#slide-out li ul li>a#account {
	background: url("../../assets/images/account.svg") no-repeat center;
}

ul#slide-out li ul li.active>a#account {
	background: url("../../assets/images/activeAccount.svg") no-repeat center;
}

/** ADMIN **/

ul#slide-out li ul li>a#organizations {
	background: url("../../assets/images/clientlist.svg") no-repeat center;
}

ul#slide-out li ul li.active>a#organizations {
	background: url("../../assets/images/activeClientlist.svg") no-repeat center;
}

ul#slide-out li ul li>a#corporate_health_programs {
	background: url("../../assets/images/corporate.svg") no-repeat center;
}

ul#slide-out li ul li.active>a#corporate_health_programs {
	background: url("../../assets/images/activeCorporate.svg") no-repeat center;
}

ul#slide-out li ul li>a#services {
	background: url("../../assets/images/services.svg") no-repeat center;
}

ul#slide-out li ul li.active>a#services {
	background: url("../../assets/images/activeServices.svg") no-repeat center;
}

ul#slide-out li ul li>a#billing {
	background: url("../../assets/images/billing.svg") no-repeat center;
}

ul#slide-out li ul li.active>a#billing {
	background: url("../../assets/images/activeBilling.svg") no-repeat center;
}

ul#slide-out li ul li>a#notifications {
	background: url("../../assets/images/notification.svg") no-repeat center;
}

ul#slide-out li ul li.active>a#notifications {
	background: url("../../assets/images/activeNotification.svg") no-repeat center;
}

.no-hover:hover {
	cursor: auto;
}

.alert>p {
	margin: 0;
}

.sub-title {
	color: #80cde9;
	font-weight: 500;
}

/* adjusts second modal's opacity'*/
.modal-overlay ~ .modal-overlay{
    opacity: 0 !important;
}

.btn-small{
    padding: 1px 10px;
    height: 27px;
    line-height: 30px;
    font-size: 13px;
    font-weight: bold;
}