div.dataTables_length select {
    width: auto;
    height: 30px;
}

div.dataTables_wrapper div.custom-toolbar {
    display: inline;
    margin-left: 20px;
}

div.dataTables_wrapper div.custom-toolbar select{
    display: inline;
    width: auto;
    padding: 0;
    line-height: 1em;
    height: 2em;
}

div#users_filter input, div#compliance_filter input, 
div#clientlist_table_filter input, div#corporate_users_filter input,
div#adminusers_table_filter input, div#analysis_filter input,
div#branches_depts_table_filter input, div#pending_filter input,
div#approved_filter input, div#declined_filter input,
div#program-intervention_filter input, div#events_table_filter input,
div#basic-intervention_filter input, div#health_events_table_filter input,
div#announcement_table_filter input, div#hr_announcements_table_filter input,
div#tickets_table_filter input, div#mpusers_table_filter input,
div#vendors_table_filter input, div#hr_events_table_filter input, 
div#company_queue_table_filter input, div#patient_queue_table_filter input,
div#schedule-table_filter input, div#corporate_users_table_filter input,
div#doctors_table_filter input, div#administrators_table_filter input, 
div#medical_events_table_filter input, div#email-consent_filter input,
div#consentlist-table_filter input, div#email-upload_filter input,
div#active-companies_filter input, div#enrolled_employee_table_filter input{
    width: auto;
    margin: 0 0 0 20px;
    height: 18px;
    padding: 5px;
}

.dataTables_wrapper{
    margin: 0 0 60px;
    background: #fff;
    padding: 15px 0;
}

.dataTables_wrapper label{
    color: inherit;
}

.dataTables_wrapper .title{
    float: left;
    margin-left: 20px;
    font-size: 16px;
    color: #0f299c;
    text-transform: uppercase;
    vertical-align: middle;
    display: table;
    line-height: 2;
}

.dataTables_wrapper .dt-buttons {
    margin-left: 20px;
    margin-bottom: 10px;
}

.dataTables_wrapper .dt-buttons .dt-button {
    padding: 5px;
    margin: 0;
}

div.dataTables_wrapper th, div.dataTables_wrapper td { 
    white-space: nowrap; 
}

div.dataTables_wrapper {
  width: 100%;
}

table.dataTable thead .sorting{
    background-color: #eee;
    color: #000;
}

th.dt-center, td.dt-center { 
    text-align: center; 
}